.containerNavbar {
  height: 100px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logoWeb {
  height: 80px;
  margin-left: 15px;
  border-radius: 40px;
}

.containerNavbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.containerNavbar a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bolder;
}

.containerNavbar a:hover {
  color: black;
}
